# No certs
*.crt
*.key

# No env
.env

# No logs
logs/
*.log

# No password files
*.password.txt

# Let's Encrypt
letsencrypt/*
!letsencrypt/etc/
!letsencrypt/var/

letsencrypt/etc/*
!letsencrypt/etc/letsencrypt/

letsencrypt/etc/letsencrypt/*
!letsencrypt/etc/letsencrypt/cli.ini

letsencrypt/var/*
!letsencrypt/var/lib/

letsencrypt/var/lib/*
!letsencrypt/var/lib/letsencrypt/

letsencrypt/var/lib/letsencrypt/*
!letsencrypt/var/lib/letsencrypt/.gitkeep